
@{
    ViewBag.Title = "PageNotFound";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="display-1 mycolor" style="font-weight:700;">404</h1>
    <h2 class="mb-4">Page Not Found</h2>
    <a class="text-light btn btn-md mybackground" href="@Url.Action("Index", "Home")">Back to Home</a>
</div>

