@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Yo me vacuno</h1>
    <p class="lead">Campaña de vacunación contra Covid-19</p>
</div>

<h4 class="text-secondary">Acciones Frecuentes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Registro de Personas</h2>
        <p>
            Listado de personas vacunadas en el sistema.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Persona")">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stock de Vacunas</h2>
        <p>Comprende el registro de todas las vacunas ingresadas al sistema en todos los centros médicos asociados.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualizar datos</h2>
        <p>Infórmese sobre la cantidad de de dosis aplicadas hasta el momento.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ir &raquo;</a></p>
    </div>
</div>